streamlit
numpy==2.2.2
pandas==2.2.3
scikit-learn==1.6.1
jdatetime==4.0.0
gspread==5.7.2
google-auth==2.17.3
google-auth-oauthlib==0.5.3
google-auth-httplib2==0.1.0
google-api-python-client==2.86.0
statsmodels==0.14.4
xgboost==2.1.4
sqlalchemy
psycopg2-binary
